* {
  margin: 0;
  padding: 0;
}

ul {

}

ul li {
  list-style: none;
  display: inline-block;
  float: right;
  width: 100px;
  height: 50px;
  margin-bottom: 40px;
  
}

ul li a {
  font-size: 14px;
  width: 50px;
  line-height: 50px;
}